@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;

}
body, footer {
    background-image: url(./assets/background.jpg);
    background-position: bottom;
    background-color: white;
} 



a{
    text-decoration: none;
    font-size: 1.6rem;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.6rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
.container{
    min-height: 100vh; /*altura minima vai ser 100% da porta de visao*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size: 5rem;
    font: weight 600px;;
    color: rgb(7, 7, 7);
    background-color: rgba(255, 255, 255, 0.267);
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

/*seção de apresentação */
#presentation{
    background-image: url(./assets/background.jpg);
    background-size: contain;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name 5s ease forwards;
    animation-delay: 2.8s;  
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(252, 252, 252);
    background-color:rgba(0, 0, 0, 0.7) ;
    border: 2px solid rgb(0, 0, 0);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: rgba(220, 245, 77, 0.6);    
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.8s;
}

#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(175, 174, 174);
    opacity: 0.2;
    z-index: -1;
}
/*seção  de about*/
#about .about{
    flex-direction: column;
    max-width: 1200px;
    margin:  0 auto;
    padding: 100px 0;
}
#about .about-heard h1{
    margin-bottom: 50px;
}
#about .all-biography{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .biography-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#about .biography-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(85, 200, 235) 0%, rgb(72, 100, 100) 100%);
}

#about .biography-info h1{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(2, 2, 2);
}
#about .biography-info h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;

}
#about .biography-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;

}
#about .biography-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, rgb(84, 91, 94) 0%, rgb(43, 83, 83) 100%);
    opacity: 0.7;
}
#about .biography-img img{
    transition: 0.5s ease transform;
}
#about .biography-item:hover .biography-img img{
    transform: scale(1.1);
}
/*seção  de canvas*/
#canvas .canvas{
    flex-direction: column;
    max-width: 1200px;
    margin:  0 auto;
    padding: 100px 0;
}
#canvas .canvas-header h1{
    margin-bottom: 50px;
}
#canvas .all-paintings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#canvas .paintings-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#canvas .paintings-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(243, 219, 82) 0%, rgb(52, 104, 104) 100%);
}

#canvas .paintings-info h1{
    font-size: 3rem;
    font-weight: 500;
}
#canvas .paintings-info h2{
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
}
#canvas .painting-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;

}
#canvas .painting-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, rgb(135, 138, 139) 0%, rgb(52, 87, 87) 100%);
    opacity: 0.7;
}
#canvas .painting-img img{
    transition: 0.5s ease transform;
}
#canvas .paintings-item:hover .painting-img img{
    transform: scale(1.1);
}


/*keyframes*/

@keyframes text_reveal{
    100%{
        color: rgb(255, 255, 255);
        background-color: rgba(87, 170, 238, 0.6);

    }
}
@keyframes text_reveal_name{
    100%{
        color: rgb(7, 7, 7);
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
/*MEdia Query*/
@media only screen and (min-width: 764px){
    #about .biography-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #about .all-biography .biography-info{
        height: 100%;
    }
    #about .all-biography .biography-img{
        height: 100%;
    }
    #about .biography-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 764px) {
    #canvas .paintings-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #canvas .all-paintings .paintings-info {
        height: 100%;
    }
    #canvas .all-paintings .painting-img {
        height: 100%;
    }
    #canvas .paintings-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}
footer h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    font-size: 2rem;
    color: rgb(3, 3, 3);
    font-weight: 700;
}

footer h3 a {
    color: rgb(15, 15, 15);
}
/*MEdia Query*/
@media only screen and (min-width: 1020px){
    #about .biography-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #about .all-biography .biography-info{
        height: 100%;
    }
    #about .all-biography .biography-img{
        height: 100%;
    }
    #about .biography-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 1020px) {
    #canvas .paintings-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #canvas .all-paintings .paintings-info {
        height: 100%;
    }
    #canvas .all-paintings .painting-img {
        height: 100%;
    }
    #canvas .paintings-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}
footer h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    font-size: 2rem;
    color: rgb(3, 3, 3);
    font-weight: 700;
}

footer h3 a {
    color: rgb(15, 15, 15);
}

